.notification{
    background: #f9f9f9;
    z-index: 9999;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border-radius: 7px;
    opacity:0;
    transition: all .3s;
    width: fit-content;
}
.notification.active{
    opacity: 1;
}