*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font-size: 16px;
}
.test-component{
  margin-top:100px
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
  /* background: linear-gradient(180deg, #210c54 0%, rgba(18,18,18,1) 90%); */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
