table {
    width: 100%;
}
tr{
    display: grid;
    grid-template-columns: 5% 40% 25% 25% 5%;
    color: #b3b3b3;
    padding: 15px 0;
    transition: all .4s ease-in-out;
}
thead tr:first-child{
    border-bottom: 1px solid;
    text-transform: uppercase;
    margin-bottom: 15px;
}
tr:hover{
    background: hsla(0,0%,100%,.1);
    border-radius: 6px;
}
th{
    font-size: 1rem;
    color: #b3b3b3;
    margin-right: 10px;
    text-align: left;
    font-weight: 500;
}
td{
    display: flex;
    align-items: center;
}
.track-info{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.track-info img{
    width: 50px;
    height:50px;
    display:block;
    border-radius:4px
}
.track-info-right{
    margin-left: 10px;
}
.track-info-right h3{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}
.track-album{
    text-transform: capitalize;

}