tr{
    display: grid;
    grid-template-columns: 5% 40% 25% 20% 10%;
    color: #b3b3b3;
    padding: 15px 0;
    transition: all .2s ease-in-out;
    cursor:context-menu;
}
tr p{
    margin-left:20px;
}
thead tr:first-child{
    border-bottom: 1px solid;
    text-transform: uppercase;
    margin-bottom: 15px;
}
tr:hover{
    background: hsla(0,0%,100%,.1);
    border-radius: 6px;
}
tr:hover .track-item--btn{
    display:block
}
tr:hover .item-icon{
    opacity:1
}
td{
    display: flex;
    align-items: center;
}
.track-info{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.track-info img{
    width: 50px;
    height:50px;
    display:block;
    border-radius:4px
}
.track-info-right{
    margin-left: 10px;
}
.track-info-right h3{
    text-transform: uppercase;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    color: white;
}
.track-album{
    text-transform: capitalize;

}
.track-tr{
    padding:10px 0;
}
.track-item--btn{
    display:none;
    margin-left:20px
}
.item-icon{
    opacity:0;
}
.item-icon.active{
    color:#1DB954;
    opacity:1;
}
@media only screen and (max-width:1200px) {
    tr {
      grid-template-columns: 5% 40% 25% 15% 15%;
    }
    .search-container .card-block .playlist-table tbody tr,
    .artists .playlist-detail .playlist-table tbody tr,
    .album-blocks .album-block .playlist-table tbody tr,
    .album .playlist-table tbody tr,
    .search-result .playlist-table tbody tr{
        grid-template-columns: 5% 80% 15% !important;
    }
}
@media only screen and (max-width:991px) {
    .track-info img {
        width: 45px;
        height: 45px;
        border-radius: 5px !important;
    }
}
@media only screen and (max-width:800px) {
    .track-info img {
        width: 45px;
        height: 45px;
        border-radius: 5px !important;
    }
    thead{
        display:none;
    }
    tbody tr td:nth-child(4),
    tbody tr td:nth-child(3){
        display: none;
    }
    .search-container .card-block .playlist-table tbody tr td:nth-child(4),
    .search-container .card-block .playlist-table tbody tr td:nth-child(3),
    .artists .playlist-detail .playlist-table tbody tr td:nth-child(4),
    .artists .playlist-detail .playlist-table tbody tr td:nth-child(3),
    .album-blocks .album-block .playlist-table tbody tr td:nth-child(4),
    .album-blocks .album-block .playlist-table tbody tr td:nth-child(3),
    .album .playlist-table tbody tr td:nth-child(4),
    .album .playlist-table tbody tr td:nth-child(3),
    .search-result .playlist-table tbody tr td:nth-child(4),
    .search-result .playlist-table tbody tr td:nth-child(3){
        display: flex;
    }
    tr {
        grid-template-columns: 5% 70% 15%;
    }
}
@media only screen and (max-width:471px) {
    tr {
        grid-template-columns: 8% 70% 12%;
    }
    .track-info img {
        width: 35px;
        height: 35px;
        border-radius: 2px !important;
    }
    .track-item--btn {
        margin-left: 5px;
    }
    tr p {
        margin-left: 5px;
    }
}
