.related-artists{
    margin-top: 75px;
    width: 100%;
    height: 100%;
    background: inherit;
    color: white;
    padding: 0 25px;
    margin-bottom: 120px;
}
.related-artists h3{
    font-size: 2rem;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.related-artists .card-list{
    flex-wrap: wrap;
}
.related-artists .card-list .card-item{
    margin-bottom: 20px;
}