.dashboard{
    display:flex;
    justify-content:flex-end;
    position:relative;
}
.dashboard-content{
    width: 81%;
    background: #210c54;
    background: linear-gradient(180deg, #210c54 0%, rgba(18,18,18,1) 90%);
}

