.gene{
    margin-top:45px;
    min-height:100vh;
    height: 100%;
    background: inherit;
    padding: 0 25px;
}
.gene .card-block .card-list{
    flex-wrap: wrap;
}
.gene .card-block .card-block-top .card-block-top-left h3{
    color: white;
    font-weight: 500;
}
.gene .card-list .card-item{
    margin-bottom:25px;
}
@media only screen and (max-width:800px) {
    .gene {
        padding: 0 5px;
    }
}