.search-container{
    margin-top: 75px;
    width: 100%;
    height: 100%;
    background: #121212;
    color: white;
    padding: 0 25px;
    padding-top: 20px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
}
.category-item{
    background-color: #27856a;
    position: relative;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    width: calc(20% - 20px);
    margin-bottom: 25px;
    cursor: pointer;
    transition: all .4s ease-in;
    text-decoration: none;
    color:white;
}

.category-item img{
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(32deg);
    border-radius: 5px;
}
.category-item h3{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}