.albums{
    margin-top: 75px;
    width: 100%;
    height: 100%;
    background: #121212;
    color: white;
    padding: 0 25px;
    margin-bottom: 120px;
}
.albums .card-list{
    flex-wrap: wrap;
    padding-top: 45px;
}
.albums .card-list .card-item{
    margin-bottom: 20px;
}
.albums-filter{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    width: 81%;
    align-items: center;
    background: #121212;
    left: 19%;
    padding: 5px 25px;
}
.filter-block{
    display: flex;
    justify-content: space-between;
    width: 7%;
}
.filter-block i{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    font-size: 1.1rem;
    overflow: hidden;
    cursor:pointer;
    transition:all .4s;
}
.filter-block i:hover{
    background: #464646;
}