.card-item{
    width: calc(20% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    background-color: hsl(0deg 0% 41% / 10%);
    cursor: pointer;
    transition: all .2s ease-in;
    position: relative;
    overflow: hidden;
}
.card-item a{
    text-decoration: none;
    color: #b3b3b3;
}
.card-item:hover{
    background-color: hsla(0,0%,100%,.1);
}
.card-item-top{
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 160px;
    border-radius: 4px;
    background-color: #333;
}
.card-item-top img{
    width: 100%;
    height:100%;
    display:block
}
.card-item-top span{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:block;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
}
.card-item-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.card-item-bot h4{
    font-weight: 700;
}
.card-item-bot p{
    font-weight: 400;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #bbbbbb;
}
.card-item:hover .play-btn{
    display: block;
}