.album-block--header{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px; 
}
.album-block--header img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
}
.album-block-title{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.album-block-title--top{
    display:flex;
    flex-direction: column;
}
.album-block-title--top a{
    text-decoration: none !important;
    color:#b3b3b3;
}
.album-block-title--top h2{
    font-size: 2rem;
    font-weight: 700;
}
.album-block-title--top ul{
    color:#b3b3b3;
    display:flex;
}
.album-block-title--top ul li{
    list-style: none;
    margin:0 10px;
    text-transform: capitalize;
}
.album-block-title--top ul li:first-child{
    margin-left: 0;
}
.album-block-btn button{
    position: relative;
    top: unset;
    right: unset;
    transform: unset;
    display: flex;
    cursor: pointer;
    margin-right: 10px;
}
.album-block-btn{
    display:flex;
    align-items: center;
}
.album-block-btn i:nth-child(2){
    font-size: 1.5rem;
    color:#b3b3b3;
}
.album-block-btn i:nth-child(2).active{
    color:#1ed760;
}
@media only screen and (max-width:1200px) {
    .album-block--header img {
      min-width: 150px;
      min-height: 150px;
      max-width: 150px;
      max-height: 150px;
    }
}
@media only screen and (max-width:800px) {
    .album-block--header img {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
    }
    .album-block-title--top h2 {
        font-size: 1.65rem;
        font-weight: 700;
    }
}