.login-container{
    display: flex;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.login-container img{
    display:block;
}
.login-container a{
    font-size: 19px;
    text-decoration: none;
    color: white;
    background: #1ed760;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 500;
}
