.playlist{
    height: 100%;
    background: inherit;
    position: relative;
    min-height: 100vh;
}
.playlist-btn{
    position: relative;
    padding: 25px 0;
}
.playlist-btn .btn-active{
    display: block;
    top: unset;
    left: unset;
    right: unset;
    transform: unset;
    width: 50px;
    height: 50px;
    position: relative;
}
.playlist-detail{
    background-color: #121212;
    padding: 0 25px;
    /* background-image: linear-gradient(rgba(0,0,0,.6),#121212); */
    margin-bottom: 120px;
}
.mid-content{
    position: relative;
    padding:20px 25px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(#121212));
    background-color: rgb(196, 232, 195);
}
.mid-content .play-btn{
    position: relative;
    display:block;
    top:unset;
    right:unset;
    transform:unset;
    width: 60px;
    height:60px;
    font-size: 25px;
}