.card-block{
    margin-bottom: 50px;
}
.card-block h3{
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
}
.card-block-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.card-block-top-right a{
    cursor:pointer;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    color: #bbbbbb;
    text-decoration: none;
}
/* .card-block-top-left h3{} */