.collection{
    margin-top: 75px;
    width: 100%;
    height: 100%;
    background: #121212;
    color: white;
    padding: 0 25px;
    margin-bottom: 120px;
}

.collection-box{
    margin-top:25px;
}
.collection-box h2{
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.collection-item{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}
.collection-item .card-item{
    margin-right: 19px;
    margin-bottom: 20px;
}
.collection-noti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.collection-noti i{
    font-size: 3rem;
}
.collection-noti a{
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
    color: #121212;
    border-radius: 40px;
    margin-top: 30px;
}
.collection-noti h3{
    font-size: 2rem;
    margin: 10px 0;
}