.banner-top{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
}
.banner-img{
    width: 240px;
    height:240px;
    overflow: hidden;
    border-radius: 4px;
}
.banner-img img{
    display:block;
    width: 100%;
    height:100%;
}
.banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.banner-content span{
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
}
.banner-content h1{
    font-size: 4rem;
    text-transform: capitalize;
}
.banner-content p{
    font-weight: 400;
    color: #b3b3b3;
}
.banner-content span:last-child{
    text-transform: capitalize;
}
.follow-btn{
    font-family: inherit;
    font-size: 1.1rem;
    outline: none;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
    display: block;
    width: 135px;
    border-radius: 5px;
    cursor:pointer
}
.followed{
    background:#1ed760;
    border: 2px solid #1ed760;
}