*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font-size: 16px;
}
.test-component{
  margin-top:100px
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
  /* background: linear-gradient(180deg, #210c54 0%, rgba(18,18,18,1) 90%); */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
.title-name {
  font-size: 2rem;
  margin-bottom: 20px;
  display: none;
}
/* Reponsive */
@media only screen and (max-width:1200px) {
}
@media only screen and (max-width:991px) {
  html,body{
    font-size: 15px;
  }
  .title-name {
    display: block;
  }
  .mid-content .play-btn {
    width: 50px !important;
    height: 50px !important;
    font-size: 20px !important;
  }
}
@media only screen and (max-width:800px) {
  html,body{
    font-size: 14px;
  }
}
@media only screen and (max-width:471px) {
  html,body{
    font-size: 13px;
  }
  .mid-content {
    padding: 20px 5px !important;
  }
}