.search-bar{
    background: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
    width: 50%;
    margin-bottom: 30px;
}
.search-bar input,
.search-bar--collection input{
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    flex: 2;
}
.search-bar--collection{
    background: #31302e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bdbcbb;
    padding: 10px;
    width: 50%;
    margin-bottom: 30px
}
@media only screen and (max-width:800px) {
    .search-bar--collection {
        width: 100% !important;
    }
    .search-item--right button {
        font-weight: 500;
        font-size: 0.7rem;
    }
}